.About {
  display: flex;
  justify-content: center;
}

.About .proof-of-payment-update {
  font-weight: bold;
  font-style: italic;
  margin: 20px 0 0 0;
}

.About .container {
  width: 1200px;
  padding: 30px 50px;
  position: relative;
  background-color: #fff;
  display: flex;
}

.special-text-style {
  color: #ee9b00;
}

.About .quick-links {
  position: sticky;
  width: 300px;
  height: 290px;
  top: 130px;
}

.section-containers {
  width: 100%;
}

.payment-section-container {
  position: relative;
  background: #efefef9f;
  margin: 0 0 30px 0;
  border-radius: 20px;
  overflow: clip;
  padding: 50px;
  min-height: 350px;
}

.payment-section-container:nth-child(even) > .payment-option-title-container {
  right: 50px;
}

.payment-section-container:nth-child(odd) > .payment-option-title-container {
  left: 50px;
}

.payment-section-container:nth-child(odd) {
  display: flex;
  justify-content: flex-end;
}

.payment-option-text {
  width: 55%;
}

.payment-option-title-container {
  position: absolute;
  top: 0;
  height: 250px;
  background: #ee9b00;
  width: 30%;
  display: grid;
  place-content: center;
  color: #fff;
  padding: 20px;
  font-size: larger;
  text-align: center;
  border-radius: 0 0 20px 20px;
}

.company-tiles-container {
  display: flex;
  justify-content: space-between;
  background: #efefef9f;
  padding: 50px;
  position: relative;
  border-radius: 20px;
  overflow: clip;
  margin: 0 0 30px 0;
  align-items: center;
}

.first-words {
  font-size: 32px;
  display: block;
  width: 100%;
  font-weight: 700;
  overflow: none;
  text-overflow: ellipsis;
  margin: 20px 0;
}

.tiles-text {
  width: 400px;
  text-align: left;
  font-size: larger;
  line-height: 35px;
  font-weight: 400;
}

.tiles-icon {
  border-radius: 5px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tiles-icon img {
  width: 100%;
  height: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.About .quick-links li {
  list-style-type: none;
  margin: 0 0 20px 0;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
  width: 130px;
  font-weight: 500;
}

.About .quick-links li:hover {
  margin-left: 10px;
}

.about-section-primary-title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-section-content-list-titles {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
}

.About section {
  margin: 0 0 100px 0;
}

.About a {
  text-decoration: none;
  color: inherit;
}

.active-link:hover {
  margin: 0;
}

.About .payment-option-section {
  margin-bottom: 20px;
  line-height: 27px;
}

.benefits-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 30px 0 0 0;
  perspective: 1000px;
}

.benefits-card {
  height: 500px;
  padding: 30px;
  color: #fff;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background: #ee9b00;
  transform: rotateY(-10deg);
  transition: all 0.5s ease;
  text-align: left;
  background: linear-gradient(
    45deg,
    #ffba3a 0%,
    #ffb429 50%,
    #ffae18 51%,
    rgb(255, 169, 10) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee9b00', endColorstr='#ee9b00', GradientType=1);
}

.benefits-card:hover {
  transform: rotate(0deg);
}

.card-title {
  font-size: 30px;
  height: 80px;
  text-align: left;
}

.card-content {
  font-size: large;
  line-height: 30px;
  opacity: 0.4;
}

.benefits-card:hover .card-content {
  animation: reveal 0.4s ease forwards;
}

@keyframes reveal {
  to {
    opacity: 1;
  }
}

.background-icon {
  position: absolute;
  bottom: -70px;
  left: -50px;
  opacity: 0.2;
  transition: all 0.9s ease;
}

.background-icon span {
  font-size: 250px;
}

.benefits-card:hover .background-icon {
  transform: scale(1.3);
  opacity: 0.6;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.low-bold {
  font-weight: 400;
}

.large {
  font-size: 20px;
}

.very-large {
  font-size: 30px;
}

.very-very-large {
  font-size: 40px;
}

.very-very-very {
  font-size: 50px;
}

.huge {
  font-size: 60px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.hiw-container {
  display: flex;
  width: 100%;
  margin: 40px 0 200px;
  position: relative;
  align-items: center;
}

.hiw-desc-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 0 40px 0 0;
  text-align: left;
}

.hiw-numbering {
  font-size: 110px;
  font-weight: normal;
  font-weight: bolder;
}

.hiw-text {
  font-size: x-large;
}

.hiw-image-container {
  width: 70%;
  height: 350px;
  overflow: clip;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  z-index: 25;
}

.hiw-image-container::after {
  content: "";
  position: absolute;
  height: 400px;
  top: -20px;
  left: 70%;
  z-index: -100000;
  border-left: 1px solid rgba(153, 153, 153, 0.222);
}

.hiw-image-container img {
  width: 100%;
  height: 100%;
}

.newBenefitsSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}

.newBenefitsSection:nth-child(even) .backgroundImageContainer {
  order: 2;
}

.newBenefitsSection:nth-child(even) .benefitsTextContentContainer {
  order: 1;
}

.newBenefitsSection > div:nth-child(1) {
  width: 60%;
}

.newBenefitsSection > div:nth-child(2) {
  width: 40%;
}

.newBenefitsSection .benefitsTitle {
  font-weight: 700;
  font-size: 32px;
  margin: 0 0 10px 0;
}

.newBenefitsSection .backgroundImageContainer {
  height: 400px;
}

.newBenefitsSection .benefitsBodyContainer {
  line-height: 30px;
  font-size: larger;
}

.newBenefitsSection .backgroundImage {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .About .container {
    width: 100%;
    padding: 0 20px;
    position: relative;
    background-color: #fff;
    display: flex;
  }

  .About .quick-links {
    padding-top: 20px;
    position: sticky;
    width: 300px;
    height: 370px;
    top: 0;
    font-weight: 500;
    display: none;
  }

  .About .section-title {
    padding-top: 10px;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .About .section-header {
    margin-bottom: 20px;
    font-size: 20px;
    color: gray;
  }

  .benefits-cards-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    perspective: 0px;
  }

  .benefits-card {
    transform: rotate(0);
  }

  .hiw-desc {
    font-size: larger;
    line-height: 40px;
  }

  .company-tiles-container {
    flex-direction: column;
  }

  .tiles-icon {
    width: 190px;
  }

  .tiles-icon span {
    font-size: 190px;
  }

  .tiles-text {
    text-align: center;
    padding: 20px;
    width: 300px;
  }

  .first-words {
    font-size: 25px;
    font-weight: bold;
  }

  .hiw-container {
    flex-direction: column;
    padding: 0;
    margin: 0 0 50px 0;
  }

  .hiw-desc-container {
    width: 100%;
    margin-bottom: 0;
    padding: 0;
  }

  .hiw-numbering {
    font-size: 50px;
    margin: 0;
    padding: 10px 0;
  }

  .hiw-image-container {
    width: 100%;
    height: 200px;
  }

  .hiw-image-container img {
    height: 100%;
    outline: 2px solid;
  }

  .hiw-image-container::after {
    display: none;
  }

  .hiw-text {
    font-size: 20px;
    margin: 0 0 10px 0;
  }

  .payment-section-container {
    padding: 30px;
  }

  .payment-option-text {
    margin-top: 190px;
    width: 100%;
    text-align: center;
  }

  .payment-option-title-container {
    width: 65%;
    height: 180px;
  }

  .payment-section-container:nth-child(even) > .payment-option-title-container {
    left: 50%;
    transform: translate(-50%, -0%);
  }

  .payment-section-container:nth-child(odd) > .payment-option-title-container {
    left: 50%;
    transform: translate(-50%, -0%);
  }

  .about-section-primary-title {
    margin: 20px 0;
  }

  .newBenefitsSection {
    flex-direction: column;
    margin: 80px 0;
    padding: 0;
  }

  .newBenefitsSection:nth-child(1) {
    margin: 0 0 80px 0;
  }

  .newBenefitsSection:nth-child(even) .backgroundImageContainer {
    order: 1;
  }

  .newBenefitsSection:nth-child(even) .benefitsTextContentContainer {
    order: 2;
  }

  .newBenefitsSection .benefitsTitle {
    font-size: 20px;
    font-weight: bold;
  }

  .newBenefitsSection:nth-child(3) .benefitsTitle {
    margin-top: 20px;
  }

  .newBenefitsSection > div:nth-child(1) {
    width: 100%;
  }

  .newBenefitsSection > div:nth-child(2) {
    width: 100%;
  }

  .newBenefitsSection .backgroundImageContainer {
    height: 100%;
  }

  .newBenefitsSection .benefitsTextContent {
    text-align: center;
  }
}
