.app-container {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 100px);
}

.app-menu-container {
  position: sticky;
}

.app-body-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 3px solid red;
}

.app-body {
  padding: 30px;
  width: 1000px;
}

.app-bottom-navigation {
  display: none;
}

@media screen and (max-width: 1000px) {
  .app-menu-container {
    display: none;
  }

  .app-body {
    width: 100%;
    padding: 10px;
    padding-bottom: 100px;
  }

  .app-bottom-navigation {
    display: block;
  }
}

/* .app-container {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 100px);
}

.app-menu-container {
  position: sticky;
  width: 300px;
}

.app-body-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.app-body {
  padding: 30px 0;
  width: 1000px;
}

.app-bottom-navigation {
  display: none;
}

@media screen and (max-width: 1000px) {
  .app-menu-container {
    display: none;
  }

  .app-body {
    width: 100%;
    padding: 10px;
    padding-bottom: 100px;
  }

  .app-bottom-navigation {
    display: block;
  }
} */
