/* .app-layout {
  border: 5px solid red;
}

.app-layout-nav {
  border: 5px solid blue;
  z-index: 10;
  position: sticky;
  top: 0;
}

.app-layout-workspace {
  border: 5px solid green;
  height: 100%;
}

.app-layout-menu {
  border: 5px solid brown;
}

.app-layout-body-container {
  width: 100%;
  border: 5px solid orange;
}

.app-layout-body {
  width: 1000px;
  border: 5px solid rosybrown;
} */
