.merchantDashboardBodyContainer {
  margin: 30px 0;
}

.merchantCardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 120px;
  gap: 10px;
}

.merchantCards {
  background: #d88c00;
  height: 100%;
  border-radius: 5px;
  position: relative;
  color: white;
  padding: 10px;
  display: grid;
  align-content: center;
  overflow: clip;
}

.merchantCards:hover .merchantCardBackgroundIcons {
  transform: scale(1.2);
  opacity: 0.2;
}

.merchantCardTextContent > div:nth-child(1) {
  font-weight: 600;
  font-size: large;
  padding: 0 0 10px 0;
  color: #efefefad;
}

.merchantCardTextContent > div:nth-child(2) {
  color: white;
}

.merchantCardBackgroundIcons {
  position: absolute;
  bottom: -70px;
  right: -40px;
  opacity: 0.05;
  pointer-events: none;
  transition: all 0.5s ease;
}

.merchantCardBackgroundIcons > span {
  font-size: 190px;
  transform: rotate(-10deg);
  color: black;
}

.merchantDashboardGridContainer {
  margin: 30px 0;
  display: grid;
  grid-template-areas:
    "item1 item1 item3"
    "item2 item2 item2";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.merchantDashboardGrid {
  outline: 1px solid #efefef;
  border-radius: 5px;
  padding: 10px;
}

.merchantDashboardGrid01 {
  grid-area: item1;
  width: 100%;
  height: 400px;
}

.merchantDashboardGrid02 {
  grid-area: item2;
}

.merchantDashboardGrid03 {
  grid-area: item3;
  width: 100%;
  height: 400px;
}

.merchantGridContainer {
  height: 80%;
}

.dash-item-no-chart-data-container {
  height: 100%;
  display: grid;
  place-items: center;
}

.dash-item-no-chart-data {
  text-align: center;
  color: gray;
  font-size: smaller;
}

.dash-item-no-chart-data img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
}

@media screen and (max-width: 1000px) {
  .merchantCardsContainer {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    width: 100%;
  }

  .merchantCards {
    height: 100px;
  }

  .merchantDashboardGrid {
    width: 100%;
  }

  .merchantDashboardGridContainer {
    width: 100%;
    grid-template-areas:
      "item1"
      "item3"
      "item2";
    grid-template-columns: 100%;
  }
}
