.buyer-dashboard-body-container {
  margin: 30px 0;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "item1 item2"
    "item1 item2"
    "item1 item2"
    "item1 item2";
  grid-template-columns: 1fr 1fr;
}

.buyer-dashboard-body-container > div {
  outline: 1px solid #c5c5c5;
  border-radius: 5px;
  padding: 20px;
  position: relative;
}

.buyer-dashboard-body-container > div:nth-child(1) {
  grid-area: item1;
  height: 500px;
}

.buyer-dashboard-body-container > div:nth-child(2) {
  grid-area: item2;
  height: 500px;
}

@media screen and (max-width: 1000px) {
  .buyer-dashboard-body-container {
    grid-template-areas:
      "item1"
      "item2";
    grid-template-columns: 1fr;
  }
}
