.MUIAccordionContentContainer {
  margin: 40px 0 0 0;
  display: flex;
  justify-content: center;
}

.MUIAccordionContent {
  width: 80%;
}

.searchContentContainer {
  margin: 0 0 30px 0;
}

.searchContent {
  display: flex;
  justify-content: center;
}

.searchBoxMaterial {
  width: 100%;
}

.resultsAccordion {
  margin: 0 0 20px 0;
  color: gray;
  font-size: small;
  text-align: left;
}

.searchedTerm {
  font-weight: 600;
  color: black;
}

.emailTo {
  color: black;
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
}

.cantFindQuestion {
  font-size: small;
  color: gray;
  text-align: left;
}

.AccordionRow {
  border-bottom: 1px solid rgb(220, 220, 220);
}

@media screen and (max-width: 1000px) {
  .MUIAccordionContentContainer {
    padding: 0 20px;
    margin: 0px 0 0 0;
  }

  .cantFindQuestion {
    text-align: left;
  }

  .MUIAccordionContent {
    width: 100%;
  }
}
