.Register {
  min-height: calc(100vh - 300px);
  display: grid;
  place-content: center;
  padding: 50px 0;
}

.register-form-container {
  outline: 1px solid rgb(203, 203, 203);
  min-height: calc(100vh - 350px);
  border-radius: 5px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.register-form-container > div:nth-child(1) {
  width: 50%;
}

.register-form-container > div:nth-child(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.register-form-container > div:nth-child(2) {
  width: 50%;
  padding: 10px 20px;
}

.register-form-desc {
  margin: 0 0 30px 0;
}

.register-form-desc > div {
  margin: 0 0 10px 0;
}

.register-form-desc > div:nth-last-child(1) {
  font-size: small;
}

.register-form-desc > div:nth-child(1) {
  font-size: xx-large;
  color: black;
  font-weight: 700;
}

.captcha-container {
  margin-top: 50px !important;
  height: 70px;
  border-radius: 5px;
  background-color: #efefef;
}

.form-controller-duo-input {
  display: flex;
  justify-content: space-between;
}

.register-form-container .form-controller-duo-input > div:nth-child(1) {
  width: 50%;
  margin: 0 10px 0 0;
}

.registration-resend-container-not-active {
  color: rgba(93, 93, 93, 0.331);
  pointer-events: none;
}

.registration-resend-container-active {
  color: var(--tae-orange);
}

.quick-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--tae-orange-faded);
  padding: 20px;
}

.quick-links-container > div {
  padding: 0 8px;
}

.otp-controller-container {
  margin: 30px 0;
}

.otp-controller {
  width: 100%;
}

.inputStyle {
  border: 3px solid #efefef;
  outline: 3px solid #efefef;
  width: 50% !important;
  background: #efefef;
  margin: 0 5px !important;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease;
  font-size: large;
}

.inputStyle:hover {
  outline: 3px solid gray !important;
}

.inputStyle:focus {
  outline: 3px solid var(--tae-orange) !important;
}

.errorInputStyle {
  border: 1px solid red;
  outline: 1px solid red;
  width: 50% !important;
  background: #efefef;
  margin: 0 5px !important;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease;
  font-size: large;
}

.otp-password-container-container {
  display: grid;
  place-content: center;
  height: 100vh;
}

.otp-content-container {
  width: 350px;
}

.clip-art-image-container {
  display: grid;
  place-content: center;
  margin: 0 0 50px 0;
}

.clip-art-image-container img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.otp-verification-text {
  text-align: center;
  margin: 30px 0;
}

.otp-verification-text > div {
  margin: 10px 0;
}

.otp-verification-text > div:nth-child(1) {
  font-size: x-large;
  font-weight: 700;
}

.otp-verification-text > div:nth-child(2) {
  font-size: small;
  color: gray;
}

.bold-bold-bold {
  font-weight: bold;
  color: var(--tae-orange);
}

.resend-otp-container {
  margin: 30px 0;
  text-align: center;
  font-size: small;
}

@media screen and (max-width: 1000px) {
  .Register {
    padding: 15px;
    display: block;
  }

  .register-form-container {
    width: 100%;
    height: auto;
    outline: none;
  }

  .register-form-container > div:nth-child(1) {
    width: 0%;
  }

  .register-form-container > div:nth-child(2) {
    width: 100%;
    padding: 0;
  }

  .otp-drawer-body {
    max-height: 100vh;
  }
}