.newGoBackContainer {
  margin: 0 0 10px 0;
}

.RequestQuote-Page {
  min-height: calc(100vh - 100px);
  display: flex;
  place-content: center;
}

.request-summary-container > div {
  margin-bottom: 20px;
}

.request-summary-container > div > div:nth-child(1) {
  font-weight: 600;
  margin-bottom: 5px;
  position: relative;
  display: flex;
  align-items: center;
}

.request-summary-container > div > div:nth-child(1)::before {
  content: "";
  height: 13px;
  position: relative;
  margin-right: 15px;
  border-radius: 5px;
  border: 2px solid var(--tae-orange);
}

.request-summary-container > div > div > div:nth-child(1) {
  padding: 5px 0;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
}

.request-summary-container > div > div > div:nth-child(1) > span {
  width: 50%;
}

.request-summary-container > div > div > div:nth-child(1) > span:nth-child(1) {
  color: gray;
}

.request-summary-container > div > div > div:nth-child(1) > span:nth-child(2) {
  font-weight: 500;
  text-align: left;
}

.request-summary-container > div:nth-last-child(1) {
  margin: 0;
}

.request-quote-page-header > div:nth-child(1) {
  font-size: xx-large;
  font-weight: 700;
}

.request_quote_page_main_inner_container {
  width: 900px;
  padding: 30px 0;
}

.request-quote-page-form > section {
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  padding: 20px;
}

.request-quote-section-title {
  font-weight: 600;
}

.request-quote-section-body {
  margin: 30px 0 0 0;
}

.profile-information-body {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}

.profile-information-body > div:nth-child(even) {
  text-align: right;
}

.select-input-form-with-units {
  display: flex;
  justify-content: space-between;
}

.select-input-form-with-units > div:nth-child(1) {
  width: 100%;
}

.select-input-form-with-units > div:nth-child(2) {
  width: 30%;
  margin-left: 10px;
}

.select-input-form > div {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-input-form > div:nth-last-child(1) {
  margin: 0;
}

.select-input-form > div > div:nth-child(1) {
  width: 30%;
}

.select-input-form > div > div:nth-child(2) {
  width: 70%;
}

.request-quote-specification-note-container {
  padding: 20px;
  border-radius: 5px;
  margin: 30px 0;
  font-size: small;
  font-weight: 400;
  background: var(--tae-orange-faded);
}

.request-quote-specification-note-container > div > div:nth-child(1) {
  font-size: medium;
  font-weight: 600;
}

.request-quote-specification-note-container ul li {
  margin: 10px 0 0 20px;
}

.RequestQuote-Page .swiper-container {
  width: 100%;
  height: 450px;
  margin-top: 20px;
}

.RequestQuote-Page .swiper {
  width: 100%;
  height: 100%;
}

.RequestQuote-Page .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.RequestQuote-Page .mySwiper2 {
  width: 100%;
}

.teakRoundSwipeImagesTop {
  height: 85% !important;
}
.teakRoundSwipeImagesBottom {
  height: 15% !important;
}

.teakSquareSwipeImagesTop {
  height: 80% !important;
}
.teakSquareSwipeImagesBottom {
  height: 20% !important;
}

.RequestQuote-Page .mySwiper {
  box-sizing: border-box;
  padding: 5px 0 0 0;
}

.RequestQuote-Page .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  position: relative;
}

.RequestQuote-Page .mySwiper .swiper-slide::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.RequestQuote-Page .mySwiper .swiper-slide-thumb-active::after {
  background: rgba(0, 0, 0, 0);
}

.RequestQuote-Page .swiper-button-next,
.RequestQuote-Page .swiper-button-prev {
  color: black;
  width: 40px;
  height: 40px;
  background: #efefef;
  border-radius: 20px;
}

.RequestQuote-Page .swiper-button-next::after,
.RequestQuote-Page .swiper-button-prev::after {
  font-size: medium;
  font-weight: 700;
}

.RequestQuote-Page .swiper-button-next {
  right: -50px;
  transition: all 0.5s ease;
}

.RequestQuote-Page .swiper-button-prev {
  left: -50px;
  transition: all 0.5s ease;
}

.RequestQuote-Page .swiper:hover .swiper-button-next {
  right: 15px;
}

.RequestQuote-Page .swiper:hover .swiper-button-prev {
  left: 15px;
}

@keyframes swiper-button-next {
  to {
    right: 15px;
  }
}

@keyframes swiper-button-prev {
  to {
    left: 15px;
  }
}

.RequestQuote-Page .swiper-pagination-bullet-active {
  background-color: #fff !important;
}

@media screen and (max-width: 768px) {
  .profile-information-body {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 540px) {
  .profile-information-body {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(1, 1fr);
  }

  .profile-information-body > div:nth-child(even) {
    text-align: left;
  }
}

@media screen and (max-width: 1000px) {
  .RequestQuote-Page > div:nth-child(3) {
    width: 94%;
  }

  .select-input-form-with-units > div:nth-child(2) {
    width: 80%;
  }

  .RequestQuote-Page .swiper-container {
    height: 250px;
  }
}
