.tutorialComponentContainer {
    height: 100vh;
}

.tutorialComponent {
    height: 100%;
    width: 100%;
    height: 400px;
}

.tutorialComponent .swiper {
    width: 100%;
    height: 100%;
}

.tutorialComponent .swiper-slide {
    height: 100%;
    border-radius: 5px;
    background: #fff;
    overflow: clip;
    width: 100%;
}

.tutorialSwipeContainer {
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
}

.tutorialSwipe {
    height: 100%;
}

.tutorialComponent .swiper-button-next,
.tutorialComponent .swiper-button-prev {
    width: 10px;
    height: 10px;
    padding: 13px;
    border-radius: 5px;
    transition: all 0.2s ease;
    background: #efefef;
    color: black !important;
    fill: black !important;
    stroke: black !important;
    transition: all 0.2s ease;
}

.tutorialComponent .swiper-button-next::after,
.tutorialComponent .swiper-button-prev::after {
    font-size: small;
    font-weight: 600;
}

.tutorialComponent .colored {
    color: var(--tae-orange);
}

.get-started-img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    height: 200px;
}

.get-started-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tutorialContent {
    height: 100%;
}

.tutorialContentBodyContainer {
    display: grid;
    justify-content: center;
}

.tutorialContentBody {
    text-align: center;
}

.hello-message {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: capitalize;
}

.extra-message-to-hello {
    font-size: small;
}

.tutorialEmbededContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tutorialModal .swiper-pagination {
    pointer-events: none;
    display: none;
}

.tutorialModal {
    position: relative;
}

.skipTutorialContainer {
    z-index: 100;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -50px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: small;
}

.skipTutorialContent {
    transition: all .2s ease;
}

.skipTutorialContent:hover {
    color: #dadada;
}

@media screen and (max-width: 1000px) {
    .tutorialModal {
        width: 95% !important;
    }

    .tutorialComponent {
        height: 400px;
    }

    .get-started-img-container {
        margin-bottom: 30px;
        height: 180px;
    }

    .hello-message {
        font-size: 15px;
        margin-bottom: 5px;
    }
}