.TutorialPageContainer {
  height: 100vh;
}

.TutorialComponentContainer {
  background: #00000000;
}

.TutorialComponentContainer .swiper {
  height: 500px;
  width: 100%;
}

.TutorialSwiperSlideContainer {
  width: 100%;
  height: 100%;
  background: white;
}

.TutorialSwiperSlideImage {
  width: 100%;
  height: 100%;
}

.TutorialContentContainer {
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
}

.TutorialContent > div {
  margin: 5px 0;
  text-align: center;
}

.tutorialTitle4 {
  font-size: small;
  color: gray;
}

.tutorialTitleSpan {
  text-transform: capitalize;
}

.tutorialTitle3 {
  margin: 30px 0 0 0 !important;
  font-size: large;
  font-weight: 700;
}

.tutorialTitle1 {
  font-weight: 700;
}

.tutorialTitle1 span {
  text-transform: capitalize;
  color: var(--tae-orange);
  font-weight: 800;
}

.tutorialTitle3 span {
  color: var(--tae-orange);
  font-weight: 800;
}

.tutorialArtImageContainer {
  height: 300px;
}

.tutorialArtImageContainer2 {
  height: 350px;
}

.tutorialArtImage {
  width: 100%;
  height: 100%;
}

.TutorialComponentContainer .swiper-button-next,
.TutorialComponentContainer .swiper-button-prev {
  color: black;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #efefef;
}

.TutorialComponentContainer .swiper-button-next::after,
.TutorialComponentContainer .swiper-button-prev::after {
  font-size: medium;
  font-weight: 800;
}

.TutorialComponentContainer .swiper-button-next {
  right: -50px;
  transition: all 0.5s ease;
}

.TutorialComponentContainer .swiper-button-prev {
  left: -50px;
  transition: all 0.5s ease;
}

.TutorialComponentContainer .swiper:hover .swiper-button-next {
  right: 15px;
}

.TutorialComponentContainer .swiper:hover .swiper-button-prev {
  left: 15px;
}

.tutorialSkipContainer {
  position: fixed;
  width: 100%;
  bottom: -60px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}

.tutorialLoadingProgress {
  position: fixed;
  bottom: -48px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.tutorialCompleteHelper {
  font-weight: 600;
  font-size: large;
}

.tutorialSkipContainer > div {
  transition: all 0.2s ease;
}

.tutorialProgressIncomplete {
  color: rgb(186, 186, 186);
}

.tutorialProgressComplete {
  color: white;
}

.tutorialSkipContainer > div:hover {
  color: white;
}

.TutorialComponentContainer
  .swiper-horizontal
  > .TutorialComponentContainer
  .swiper-pagination-bullets,
.TutorialComponentContainer
  .swiper-pagination-bullets.swiper-pagination-horizontal,
.TutorialTutorialComponentContainerComponent .swiper-pagination-custom,
.TutorialComponentContainer .swiper-pagination-fraction {
  position: fixed;
  bottom: -30px;
}

.tutorialCompleted {
  font-weight: 600;
}

.tutorialCompleted span {
  font-weight: 700;
  color: var(--tae-orange);
}

.tutorialCompleted div {
  font-size: small;
}

@media screen and (max-width: 1024px) {
  .TutorialComponentContainer {
    width: 95% !important;
  }

  .TutorialComponentContainer .swiper {
    height: 300px;
  }

  .tutorialArtImageContainer {
    height: 130px;
  }

  .tutorialArtImageContainer2 {
    height: 150px;
  }

  .tutorialTitle3 {
    font-size: medium;
  }

  .tutorialCompleted {
    font-size: 15px;
  }
}
