.app-menu {
  height: 100%;
  width: 60px;
  padding: 30px 5px;
  transition: all 0.2s ease-in-out;
  overflow: clip;
}

.app-menu:hover {
  width: 150px;
}

.app-menu-items {
  height: 100%;
}

.app-menu-item {
  text-decoration: none;
  color: gray;
  font-weight: 700;
}

.app-menu-icon {
  min-width: 45px;
  height: 45px;
  border-radius: 50%;
  place-content: center;
  transition: all 0.3s ease-in-out;
}

.app-menu-label {
  transition: all 0.3s ease-in-out;
}

.active .app-menu-icon {
  background: var(--tae-orange) !important;
  color: #fff;
}

.active .app-menu-label {
  color: var(--tae-orange);
}

.app-menu-item:hover .app-menu-icon {
  background: #efefef;
}
