.requests_view_container {
  height: 338px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  overflow: auto;
  padding: 0 5px 0 0;
}

.requests_view_inner {
  height: 100%;
}

.request_items_container {
  padding-bottom: 5px;
}

.requests_view_container:hover .request_item:not(:hover) {
  opacity: 0.5;
}

.request_item {
  border: 2px solid #c5c5c55f;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 0 10px 0;
  transition: all 0.1s ease;
  text-transform: capitalize;
}

.request_item:hover {
  border-color: #000;
}

.request_item_row > div {
  width: 50%;
}

.request_quotation_box_container {
  margin: 100px 0 0 0;
}

.request_quotation_box_title_container {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}

.request_quotation_box_title {
  background: white;
  z-index: 2;
  padding: 0 20px;
  font-weight: bold;
}

.request_quotation_box_title_container::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.request_quote_managae_rows {
  width: 150px;
  font-size: small;
  cursor: pointer;
  color: #000;
  background: #fff;
  font-weight: 500;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #c5c5c5;
}

.request_quote_managae_rows:active {
  background: #f5f5f5;
}

.request_placing_order_note {
  padding: 10px;
  background: #efefef;
  border-radius: 3px;
}

@keyframes flashing {
  0% {
    background: #efefef;
  }

  50% {
    background: #efefef68;
  }

  100% {
    background: #efefef;
  }
}
